<%- model_class = User -%>
<div class="card-header card-header-primary d-flex justify-content-lg-between align-items-center">
  <span></span>
  <h3 class='mb-0 font-weight-bold text-uppercase'>
    <%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %>
  </h3>
  <span></span>
</div>
<div class="card-body">
  <%= render 'form', user: @user %>
</div>