<div class="card text-center">
  <div class="card-header card-header-primary d-flex justify-content-lg-between align-items-center">
    <h3 class='mb-0'>Resumo de pagamento</h3>
    <%= link_to t('.new', :default => t("helpers.links.new")), "#", class: "btn btn-primary" %>
  </div>
  <div class="card-body">

  </div>
</div>