<p id="notice"><%= notice %></p>

<p>
  <strong>Customer reminder:</strong>
  <%= @setting.customer_reminder %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
